table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: center;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}
td {
    text-align: left;
}

tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

/* Centering only the second column of the table (language icons) */
tbody tr td:nth-child(2) {
    text-align: center;
}