#project-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#project-table th,
#project-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

#project-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
#project-table td {
    text-align: left;
}

#project-table tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

#project-table .icon {
    max-width: 30px;
    max-height: 30px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

/* Centering only the second column of the table (language icons) */
#project-table tbody tr td:nth-child(2) {
    text-align: center;
}